body {
    background-color: #f4cccc;
    margin: auto;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: #cc0000;
    background-color: #f4cccc;
    font-size: 50px;
}


h2 {
    font-family: 'Nunito', sans-serif;
    color: #cc0000;
}


p {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: #cc0000;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    color: #cc0000;
    background-color: #f4cccc;
}

.navbar {
    background-color: #f4cccc;
}

.nav-link {
    font-family: 'Fredoka One', cursive;
    color: #cc0000;
    background-color: #f4cccc;
}

.navbar-toggler-icon {
    color: #cc0000;
    font-family: 'Fredoka One', cursive;
    border-color: #cc0000;
}

.bg-light {
    background-color: #f4cccc;
}

.btn {
    background-color: #f4cccc;
    font-family: 'Fredoka One', cursive;
    color: #cc0000;
    border-color: #cc0000;
    border-radius: 25px 25px 25px 25px;

}

.btn:hover {
    color: #fab647;
    border-color: #fab647;
}

.nav-link:hover {
    color: #fab647;
}

.navbar-toggler:focus {
    text-decoration: none;
    color: #fab647;
    border-color: #fab647;
}

.heart {
    transform: scale(1.3);
    animation: pulse 1.3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);

    }

    70% {
        transform: scale(1.3);

    }

    100% {
        transform: scale(0.95);

    }
}

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (max-width: 768px) {
    h1 {
        font-family: 'Fredoka One', cursive;
        color: #cc0000;
        background-color: #f4cccc;
        font-size: 40px;
    }

    p {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        color: #cc0000;
    }

    .container-fluid {
        margin: 0;
    }

    .container {
        margin: 0;
    }

    body {
        margin-bottom: 150px;
    }
}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
/*
@media (min-width: 992px) {
      body {
     background-color: burlywood;
   }

   body::before {
     content: "'lg-': lig el. over 576px.";
   }
   END "lg-" 992px and up
}
*/

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
/*
@media (min-width: 1200px) {
    body {
     background-color: ;
   }


   END "xl-" 1200px and up
}
*/

/**************************************************/
/* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
/**************************************************/
/*
@media (min-width: 1400px) {

   END "xxl-" 1400px and up
}
*/
